:root{
    --lightgreen: #008800;
    --green: #00ff00;
    --lightblue: #000088;
    --blue: #0000ff;
    --red: #ff0000;
    --purple: #ff00ff;
    --lightpurple: #880088;
    --gray: #888888;
    --lightgray: #222222;
}


body {
    margin: 0;
    background-color: #dddddd;
    font-family: sans-serif;
}

#main-cvs {
    background-color: #ffffee;
    width: 96vh;
    height: 96vh;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    align-self: center;
    z-index: 0;
    flex-grow: 0;
}



/* popup styling */

.popup-body {
    border-radius: 40px;
    background-color: green;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    z-index: 3;
}
.popup-message {

}
.popup-ctrl {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.popup-btn {
    background-color: blue;
}

#pop-shader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background-color: rgba(0,0,0,0.7);
}

/* SUBPAGE MANAGEMENT */

#main-grid {
    display: grid;
    width: 100vw;
    height: 100vh;
}


.subpage {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 100%;
}
#main-grid[data-state="finish_sub"] div[id="finish-sub"],
#main-grid[data-state="draw_sub"] div[id="draw-sub"] {
    opacity: 1;
    z-index: 1;
}
#main-grid[data-state="draw_sub"] div[id="finish-sub"],
#main-grid[data-state="finish_sub"] div[id="draw-sub"] {
    opacity: 0;
    z-index: -1;
}


/* DRAW SUBPAGE */

/* PANE SETUP */

#draw-sub {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.draw-ctrl-pane input[type="radio"]{
    display: none;
}
.draw-ctrl-pane {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    flex-grow: 1;
    height: 96vh;
    width: 40px;
    overflow: hidden;
}

/* DRAW-CONTROL MECHANISM */

/* default styling */

.draw-okcancel-btn {
    border: 2px solid white;
    border-radius: 20px;
    background-color: white;
    flex-basis: 0;
    flex-grow: 1;
    display: grid;
}

.draw-ctrl-btn {
    border: 2px solid;
    border-radius: 20px;
    background-color: white;
    flex-basis: 0;
    flex-grow: 2;
    display: grid;
}

#scribe + .draw-ctrl-btn {
    border-color: var(--lightgreen);
}
#shapes + .draw-ctrl-btn {
    border-color: var(--purple);
}
#gallery + .draw-ctrl-btn {
    border-color: var(--blue);
}
#pen + .draw-ctrl-btn {
    border-color: var(--lightblue);
}
#pointer + .draw-ctrl-btn {
    border-color: var(--gray);
}

/* checked styling */

.draw-okcancel-btn[checked] {
    border: 2px solid white;
    border-radius: 4px;
    background-color: white;
}

#ok[checked] {
    background-color: var(--green);
    border-color: var(--green);
}
#cancel[checked] {
    background-color: var(--red);
    border-color: var(--red);
}

#scribe:checked + .draw-ctrl-btn {
    background-color: var(--lightgreen);
}
#shapes:checked + .draw-ctrl-btn {
    background-color: var(--purple);
}
#gallery:checked + .draw-ctrl-btn {
    background-color: var(--blue);
}
#pen:checked + .draw-ctrl-btn {
    background-color: var(--lightblue);
}
#pointer:checked + .draw-ctrl-btn {
    background-color: var(--gray);
}

.input[type="radio"][disabled]:not(checked) + .draw-ctrl-btn,
.draw-okcancel-btn[disabled] { /*deactivating all disabled elements*/
    pointer-events: none;
    opacity: 0.5 !important;
}

.input[type="radio"][checked] + .draw-ctrl-btn,
.draw-okcancel-btn[checked] { /* widen all checked */
    width: 200px;
}

/* manage icons */

.icon, .icon-checked {
    width: 20vh;
    height: 20vh;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    grid-column: 1;
    grid-row: 1;
}

.draw-ctrl-pane input:checked + .draw-ctrl-btn .icon,
.draw-okcancel-btn[checked] .icon,
.draw-ctrl-pane input:checked + .draw-ctrl-btn .icon-checked,
.draw-okcancel-btn[checked] .icon-checked {
    left: 25%;
}

.draw-ctrl-pane input:checked + .draw-ctrl-btn .icon-checked,
.draw-okcancel-btn[checked] .icon-checked,
.draw-ctrl-pane input:not(checked) + .draw-ctrl-btn .icon,
.draw-okcancel-btn:not([checked]) .icon {
    opacity: 1;
}
.draw-ctrl-pane input:checked + .draw-ctrl-btn .icon,
.draw-okcancel-btn[checked] .icon,
.draw-ctrl-pane input:not(checked) + .draw-ctrl-btn .icon-checked,
.draw-okcancel-btn:not([checked]) .icon-checked {
    opacity: 0;
}

/* OVERLAYS */

.overlay {
    transition: width 0.125s ease, opacity 0.125s ease;
    padding: 2.5vh;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -48vh;
    margin-top: -48vh;
    height: 91vh;
    z-index: 1;
}

.draw-ctrl-pane input:checked + .draw-ctrl-btn + .overlay {
    width: 91vh;
    opacity: 1;
}
.draw-ctrl-pane input:not(:checked) + .draw-ctrl-btn + .overlay {
    width: 0;
    opacity: 0;
}

/* scribe overlay */

#scribe-overlay {
    display: grid;
    background-color: var(--lightgreen);
}

#scribe-generate-sub, #scribe-adjust-sub {
    grid-row: 1;
    grid-column: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#scribe-generate-sub {
    justify-content: flex-start;
}

#scribe-adjust-sub {
    justify-content: space-around;
}

#scribe-overlay[data-state="generate_sub"] div[id="scribe-genertate-sub"],
#scribe-overlay[data-state="adjust_sub"] div[id="scribe-adjust-sub"] {
    opacity: 1;
    z-index: 1;
}
#scribe-overlay[data-state="adjust_sub"] div[id="scribe-genertate-sub"],
#scribe-overlay[data-state="generate_sub"] div[id="scribe-adjust-sub"] {
    opacity: 0;
    z-index: -1;
}

textarea {
    font-size: 2em;
    resize: none;
    width: 90%;
    height: 50%;
    margin: 5%;
    border-radius: 10px;
}

#generate-btn {
    font-size: 2em;
    color: green;
    width: 50%;
    height: 2em;
    text-align: center;
    background-color: blue;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#align-ctrl{
    display: flex;
    align-items: stretch;
    width: 70%
    height: 10%;
    border-radius: 4px;
    background-color: blue;
    overflow: hidden;

}
#align-ctrl input{
    display: none;
}

#align-ctrl label{
    text-align: center;
    margin: 0px;
    background-color: lightgreen;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
}

#align-ctrl input:checked + label{
    background-color: green;
    font-weight: bold;
}

#adjust-cvs-placeholder {
    height: 60%;
    width: 60%;
    padding: 0;
    border: none;
}

#adjust-cvs {
    margin: 0;
    width: 50%;
    height: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#ratio-range {
    width: 60%;
}

/* other overlays */

#gallery-overlay, #shapes-overlay {
    display: grid;
}

#gallery-overlay {
    background-color: var(--blue);
}

#shapes-overlay {
    background-color: var(--purple);
}

.scrollbox {
    grid-row: 1;
    grid-column: 1;
    overflow: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    z-index: 3;
}
.shadowbox {
    grid-row: 1;
    grid-column: 1;
    background-color: rgba(0,0,0,0);
    box-shadow: inset 0px 0px 10px 10px rgba(0,0,0,0.3);
    z-index: 4;
}

.card-cvs {
    border-radius: 10px;
    width: 45%;
    height: 45%;
    margin: 2.5%;
}

.card-cvs[data-state="selected"] {
    box-shadow: 0px 0px 3px rgba(255, 192, 0, 0.7);
}


/* FINISH SUBPAGE */

#finish-sub {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

#left-finish-pane, #right-finish-pane {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-basis: 0;
    flex-grow: 1;
}

#left-finish-pane {
    justify-content: space-around;
}

#draw-title {
    height: 15vh;
    display: flex;
  justify-content: center;
  align-items: center;
}

#finish-cvs {
    background-color: #ffffee;
    width: 60vh;
    height: 60vh;
    box-shadow: 2px 2px 5px rgb(0,0,0,0.3);
}

#back-btn {
    align-self: flex-start;
    height: 15vh;
    width: 15vh;
}

#vl {
  border-left: 1px solid green;
  height: 60vh;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -30vh;
}

#getit-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

/* style split buttons */

.vl-btn {
  border-left: 1px solid green;
  height: 80%;
}

#save-grid, #download-grid, #robot-draw-grid,
.split-btn-grid {
    display: grid;
}

.before-split-btn, .after-split-btn {
    grid-row: 1;
    grid-column: 1;
    display-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.split-btn-icon {
    height: 50px;
    width: 50px;
}

.before-split-btn {
    background-color: blue;
}
.after-split-btn {
    background-color: green;
}

.split-btn-grid[data-state="before"] .before-split-btn,
.split-btn-grid[data-state="after"] .after-split-btn {
    opacity: 1;
}
.split-btn-grid[data-state="before"] .after-split-btn,
.split-btn-grid[data-state="after"] .before-split-btn {
    opacity: 0;
}




















p {
    margin: 0;
}

button {
    color: rgb(131,29,196);rgb(193,207,192);rgb(195,104,57);
    background-color: rgb(126,181,166);rgb(222,186,157);#b88a7a;
    border-radius: 4px;
    margin: 5px;
    font-family: serif;
    font-size: 20px;
    border: 0;
    box-shadow: 1px 1px 3px rgb(0,0,0,0.6);
}



#draw_control {
    margin: 0px 2.5%;
    display: flex;
    
}

.drw-ctrl-btn {
    
    padding: 10px 5px;
    margin: 5px;
    flex-basis: 0;
    flex-grow: 1;
}

#freeOk_btn {
    background: rgb(60,220,166);
}
#freeCancel_btn {
    background: rgb(200,82,60);
}



.popup {
    display: flex;
    flex-direction: column;
    position: fixed;
    padding: 10px;
    width: 90%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    background: white;
    text-align: center;
}

.popup-header {
    font-size: 20px;
    flex:0 0 2em;
}
.popup-content {
    display: flex;
    overflow: auto;
    flex: 1 1;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.popup-control {
    flex: 0 0 2em;
    padding: 4px;
}

.hidden {
    display: none;
}

.card {
    background-color: rgb(193,207,192);
    color: rgb(195,104,57);
    border: 1px solid rgb(195,104,57);
    border-radius: 4px;
    margin: 5px;
    
}

.shape-card {
    flex-basis: 0;
    flex-grow: 1;
    padding: 20px 5px;
}

.design-card {
    height: 90vw;
    width: 90vw;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.focused-card {
    background-color: rgb(131,29,196);
}

.card-canvas {
    background-color: rgb(232,208,179);
    border-radius: 4px;
    height: 80vw;
    width: 80vw;
    margin: 2.5px;
    box-shadow: 2px 2px 5px rgb(0,0,0,0.3);
}

.designs-control-container {
    background-color: rgb(131,29,196);
    width: 95vw;
    margin: 1.5vw;
    padding: 1vw;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.outer-designs-container {
    background-color: rgb(131,29,196);
    width: 95vw;
    margin: 1.5vw;
    padding: 1vw;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.designs-container {
    display: flex;
    flex-direction: row;
    overflow: auto;
    width: 95vw;
}


#topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(193,207,192);rgb(126,181,166);rgb(36,20,100);rgb(158,119,119);rgb(245,232,199);rgb(111,76,91);#efede3;
    min-height: 60px;
    
    
}
#hamburger {
  float: none;
  display: block;
  color: rgb(195,104,57);
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
}

#scribusHome {
  float: left;
  display: block;
  color: rgb(131,29,196);
  text-align: left;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 25px;

}


#menu {
  background-color: rgb(193,207,192);rgb(131,29,196);rgb(195,104,57);rgb(193,207,192);
  box-shadow: 0px -2px 3px rgb(0,0,0,0.2);
}

#menu a {
  float: none;
  display: block;
  color: rgb(195,104,57);rgb(131,29,196);rgb(222,186,157);#b88a7a;#b7a08f;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
    box-shadow: 0px 3px 3px rgb(0,0,0,0.2)
}

#mf_wrapper{
    min-height: 91vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    margin-top: 65px;
    margin-bottom: 20px;
}

#radios{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    width: 20em;
    height: 2em;
    border-radius: 4px;
    background-color: rgb(193,207,192);  
    overflow: hidden;
    
}


input{
    margin: 5px;
    font-size: 17px;
    width: 15em;
    height: 2em;
    border-radius: 4px;
    border: none;
    background-color: rgb(252,238,219);
}

#designName_input{
    font-size: 17px;
    width: 20em;
    height: 2em;
    border-radius: 4px;
    border: none;
    background-color: rgb(252,238,219);
}

#designName_warning{
    height: 1em;
    margin: 0;
    padding: 0;
}

#draw_submit{
    height: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

footer{
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(151,116,131);
}

#login_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
