:root{
    --lightgreen: #92D050;
    --green: #00B050;
    --darkblue: #002060;
    --lightblue: #00B0F0;
    --blue: #2F528F;
    --red: #ff0000;
    --darkpurple: #7030A0;
    --purple: #8037B7;
    --lightpurple: #9E5ECE;
    --gray: #888888;
    --lightgray: #222222;
    --pink: #EE00D7;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #dddddd;
    font-family: sans-serif;
}

#main-cvs {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -48vh;
    margin-top: -48vh;
    z-index: 1;
    background-color: #ffffee;
    width: 96vh;
    height: 96vh;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}



/* popup styling */

.popup-body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.popup-btn {
    width: 20vw;
    height: 40vh;
    border-radius: 40px;
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 5px solid white;
    box-shadow: 0 0 10px 0 white;
    color: white;
    font-size: 5vw;
}

#popup-cancel {
    position: absolute;
    bottom: 21vh;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(255 255 255 / 38%);
    z-index: 3;
    font-size: 19px;
}

/* SUBPAGE MANAGEMENT */

#main-grid {
    display: grid;
    width: 100vw;
    height: 100vh;
}


.subpage {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 100%;
}
#main-grid[data-state="finish_sub"] div[id="finish-sub"],
#main-grid[data-state="draw_sub"] div[id="draw-sub"] {
    opacity: 1;
    z-index: 1;
}
#main-grid[data-state="draw_sub"] div[id="finish-sub"],
#main-grid[data-state="finish_sub"] div[id="draw-sub"] {
    opacity: 0;
    z-index: -1;
}


/* DRAW SUBPAGE */

/* PANE SETUP */

#draw-sub {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.draw-ctrl-pane input[type="radio"]{
    display: none;
}
.draw-ctrl-pane {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 96vh;
}

#left-ctrl-pane {
    align-items: flex-start;
    padding-left: 15px;
}
#right-ctrl-pane {
    align-items: flex-end;
    padding-right: 15px;
}

/* DRAW-CONTROL MECHANISM */

/* default styling */

#okcancel-grid {
    display: grid;
    flex-basis: 0;
    flex-grow: 1;
}

#okcancel-wrap {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#smoother {
    position: absolute;
    bottom: 2vh;
    right: 15px;
    width: calc((100vw - 96vh) / 2 - 30px);
    height: 31vh;
    border-radius: 35px;
    background-color: var(--pink);
    border: 3px solid var(--pink);
    opacity: 1;
    z-index: 3;
    transition: background-color 0.5s ease, opacity 0.5s ease, height 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#smoother[data-state="off"] {
    opacity: 0;
    pointer-events: none;
}
#smoother[data-state="button"] {
}
#smoother[data-state="slider"] {
    background-color: white;
    height: 96vh;
    justify-content: space-between;
}

#smoother[data-state="slider"] #icon-full-sm,
#smoother[data-state="slider"] #icon-no-sm,
#icon-smooth {
    position: absolute;
    opacity: 1;
    width: min(calc((100vw - 96vh) / 2 - 30px - 30px), calc(96vh / 3 - 30px));
    height: min(calc((100vw - 96vh) / 2 - 30px - 30px), calc(96vh / 3 - 30px));
    transition: opacity 0.5s ease;
}

#icon-full-sm,
#icon-no-sm,
#smoother[data-state="slider"] #icon-smooth {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    transition: opacity 0.5s ease;
}

#icon-full-sm {
    top: 0;
}

#icon-no-sm {
    bottom: 0;
}

#icon-smooth {
    top: 50%;
    transform: translateY(-50%);
}


#smooth-range {
    position: absolute;
    top: 50%;
    pointer-events: none;
    -webkit-appearance: none;
    transform: translateY(-50%) rotate(-90deg);
    height: 40px;
    width: 0vh;
    transition: width 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    border-radius: 20px;
}

#smoother[data-state="slider"] #smooth-range {
    pointer-events: auto;
    width: 55vh;
    opacity: 1;
}

#smooth-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background: #EE00D7;
}
#smooth-range::-webkit-slider-runnable-track {
    width: 40px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #FCA2F0;
    border-radius: 20px;
    border: 0px solid #000000;
}
.draw-ctrl-btn, .draw-okcancel-btn {
    width: calc((100vw - 96vh) / 2 - 30px);
    border-radius: 35px;
    background-color: white;
    flex-basis: 0;
    flex-grow: 1;
    position: relative;
    display: grid;
    transition: width 0.5s, background-color 0.5s;
    z-index: 0;
}

.draw-okcancel-btn {
    border: 3px solid white;
}

.draw-ctrl-btn {
    border: 3px solid;
}

#scribe + .draw-ctrl-btn {
    border-color: var(--lightgreen);
}
#shapes + .draw-ctrl-btn {
    border-color: var(--darkpurple);
    margin-top: 5px;
    margin-bottom: 5px;
}
#gallery + .draw-ctrl-btn {
    border-color: var(--darkblue);
}
#pen + .draw-ctrl-btn {
    border-color: var(--lightblue);
}
#pointer + .draw-ctrl-btn {
    border-color: var(--gray);
    margin-top: 5px;
    margin-bottom: 5px;
}

/* checked styling */

#smooth-btn[data="active"] {
    opacity: 1;
}

.draw-okcancel-btn[checked] {
    border: 2px solid white;
    border-radius: 4px;
    background-color: white;
}

#cancel {
    margin-bottom: 5px;
}

#ok[checked] {
    background-color: var(--green);
    border-color: var(--green);
}
#cancel[checked] {
    background-color: var(--red);
    border-color: var(--red);
}

#scribe:checked + .draw-ctrl-btn {
    background-color: var(--lightgreen);
}
#shapes:checked + .draw-ctrl-btn {
    background-color: var(--darkpurple);
}
#gallery:checked + .draw-ctrl-btn {
    background-color: var(--darkblue);
}
#pen:checked + .draw-ctrl-btn {
    background-color: var(--lightblue);
}
#pointer:checked + .draw-ctrl-btn {
    background-color: var(--gray);
}

input[name="draw_ctrl"][disabled]:not(:checked) + .draw-ctrl-btn,
.draw-okcancel-btn[disabled] { /*deactivating all disabled elements*/
    pointer-events: none;
    opacity: 0.5 !important;
}

input:checked + .draw-ctrl-btn,
.draw-okcancel-btn[checked] { /* widen all checked */
    width: calc((100vw - 96vh) / 2 + 10px);
}

/* manage icons */

.icon, .icon-checked {
    width: min(calc((100vw - 96vh) / 2 - 30px - 30px), calc(96vh / 3 - 30px));
    height: min(calc((100vw - 96vh) / 2 - 30px - 30px), calc(96vh / 3 - 30px));
    position: absolute;
    top: 50%;
    grid-column: 1;
    grid-row: 1;
}

#pen + .draw-ctrl-btn .icon, #pen + .draw-ctrl-btn .icon-checked,
#pointer + .draw-ctrl-btn .icon, #pointer + .draw-ctrl-btn .icon-checked,
.draw-okcancel-btn .icon, .draw-okcancel-btn .icon-checked {
    right: calc(((100vw - 96vh) / 2 - 30px) / 2);
    transform: translate(50%, -50%);
}

#scribe + .draw-ctrl-btn .icon, #scribe + .draw-ctrl-btn .icon-checked,
#shapes + .draw-ctrl-btn .icon, #shapes + .draw-ctrl-btn .icon-checked,
#gallery + .draw-ctrl-btn .icon, #gallery + .draw-ctrl-btn .icon-checked {
    left: calc(((100vw - 96vh) / 2 - 30px) / 2);
    transform: translate(-50%, -50%);
}

.draw-okcancel-btn .icon, .draw-okcancel-btn .icon-checked {
    width: min(calc((100vw - 96vh) / 2 - 30px - 20px), calc(96vh / 3 / 2 - 20px));
    height: min(calc((100vw - 96vh) / 2 - 30px - 20px), calc(96vh / 3 / 2 - 20px));
}



.draw-ctrl-pane input:checked + .draw-ctrl-btn .icon-checked,
.draw-okcancel-btn[checked] .icon-checked,
.draw-ctrl-pane input:not(checked) + .draw-ctrl-btn .icon,
.draw-okcancel-btn:not([checked]) .icon {
    opacity: 1;
}
.draw-ctrl-pane input:checked + .draw-ctrl-btn .icon,
.draw-okcancel-btn[checked] .icon,
.draw-ctrl-pane input:not(checked) + .draw-ctrl-btn .icon-checked,
.draw-okcancel-btn:not([checked]) .icon-checked {
    opacity: 0;
}

/* OVERLAYS */

.overlay {
    transition: width 0.125s ease 0.125s, opacity 0.125s ease 0.125s;
    padding: 2.5vh;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -48vh;
    margin-top: -48vh;
    height: 96vh;
    box-shadow: 0px 0px 25px rgba(0,0,0,0.7);
    z-index: 2;
}

.draw-ctrl-pane input:checked + .draw-ctrl-btn + .overlay {
    width: 96vh;
    opacity: 1;
}
.draw-ctrl-pane input:not(:checked) + .draw-ctrl-btn + .overlay {
    width: 0;
    opacity: 0;
    pointer-events: none;
}

/* scribe overlay */

#scribe-overlay {
    display: grid;
    background-color: var(--lightgreen);
}

#scribe-generate-sub, #scribe-adjust-sub {
    grid-row: 1;
    grid-column: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#scribe-generate-sub {
    justify-content: flex-start;
}

#scribe-adjust-sub {
    justify-content: space-around;
}

#scribe-overlay[data-state="generate_sub"] div[id="scribe-genertate-sub"],
#scribe-overlay[data-state="adjust_sub"] div[id="scribe-adjust-sub"] {
    opacity: 1;
    z-index: 1;
}
#scribe-overlay[data-state="adjust_sub"] div[id="scribe-genertate-sub"],
#scribe-overlay[data-state="generate_sub"] div[id="scribe-adjust-sub"] {
    opacity: 0;
    z-index: -1;
}

textarea {
    font-size: 2em;
    resize: none;
    width: 90%;
    height: 50%;
    margin: 5%;
    border-radius: 10px;
}

#generate-btn {
    font-size: 2em;
    color: green;
    width: 50%;
    height: 2em;
    text-align: center;
    background-color: blue;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#align-ctrl{
    display: flex;
    align-items: stretch;
    width: 70%
    height: 10%;
    border-radius: 4px;
    background-color: blue;
    overflow: hidden;

}
#align-ctrl input{
    display: none;
}

#align-ctrl label{
    text-align: center;
    margin: 0px;
    background-color: lightgreen;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
}

#align-ctrl input:checked + label{
    background-color: green;
    font-weight: bold;
}

#adjust-cvs-placeholder {
    height: 60%;
    width: 60%;
    padding: 0;
    border: none;
}

#adjust-cvs {
    margin: 0;
    width: 50%;
    height: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#ratio-range {
    width: 60%;
}

/* other overlays */

#gallery-overlay, #shapes-overlay {
    display: grid;
}

#gallery-overlay {
    background-color: var(--darkblue);
}

#shapes-overlay {
    background-color: var(--darkpurple);
}

.scrollbox {
    grid-row: 1;
    grid-column: 1;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    z-index: 3;
}
.shadowbox {
    grid-row: 1;
    grid-column: 1;
    background-color: rgba(0,0,0,0);
    box-shadow: inset 0px 0px 10px 10px rgba(0,0,0,0.3);
    z-index: 4;
    pointer-events: none
}

.shape-card-cvs {
    border-radius: 20%;
    width: 43%;
    height: 43%;
    margin-top: 3.4%;
    border: 6px solid var(--purple);
    background-color: var(--lightpurple);
}

.shape-card-cvs[data-state="selected"] {
    box-shadow: 0px 0px 9px rgb(255 192 0);
}

.design-card-cvs[data-state="grouped"], .design-card-cvs[data-state="original"] {
    box-shadow: 0px 0px 9px rgb(255 255 0);
}

.card-layer-grid {
    display: grid;
    width: 43%;
    height: 43%;
    margin-top: 3.4%;
}

.design-card-cvs {
    border-radius: 20%;
    width: 100%;
    height: 100%;
    grid-row: 1;
    grid-column: 1;
    border: 6px solid var(--blue);
    background-color: var(--lightblue);
}

.card-overlay {
    width: 100%;
    height: 100%;
    grid-row: 1;
    grid-column: 1;
    pointer-events: none;
}

/* FINISH SUBPAGE */

#finish-sub {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

#left-finish-pane, #right-finish-pane {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    width: 50vw;
}

#left-finish-pane {
    justify-content: space-around;
    height: 100vh;
}

#right-finish-pane {
    margin-top: 10vh;
    margin-bottom: 10vh;
    height: 80vh;
    align-items: stretch;
}

#draw-title {
    font-size: 7vh;
    letter-spacing: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

#finish-cvs {
    background-color: #ffffee;
    width: min(60vh, 45vw);
    height: min(60vh, 45vw);
    box-shadow: 2px 2px 5px rgb(0 0 0 / 30%);
    align-self: center;
}

#back-btn {
    align-self: flex-start;
    height: 15vh;
    width: 15vh;
}

#vl {
  border-left: 2px solid rgba(0,0,0,0.5);
  height: 80vh;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -40vh;
}

.finish-sect {
    height: 26vh;
    margin-top: 0.3vh;
    margin-bottom: 0.3vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.finish-heading {
    font-size: min(6vh, 4vw);
    letter-spacing: 20px;
    margin-right: -30px;
    margin-bottom: 2vh;
}

#name-input{
    margin: 5px;
    font-size: 5vh;
    width: 30vw;
    height: 10vh;
    border-radius: 10px;
    border: 2px solid gray;
    background-color: rgb(255 248 238);
}

#name-warning {
    margin: 0;
}

#getit-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    align-self: stretch;
}

/* style split buttons */

.split-btn {
    grid-row: 1;
    grid-column: 1;
    font-size: 3vh;
    font-weight: bold;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgb(0 0 0 / 30%);
    padding: 10px;
    width: 15vw;
}

.hl-btn {
  border-top: 2px solid white;
  width: 60%;
  margin-bottom: 10px;
}

#save-grid, #download-grid, #robot-draw-grid,
.split-btn-grid {
    display: grid;
}


.split-btn-icon {
    height: 12vh;
    width: 12vh;
}

.before-split-btn {
    background-color: blue;
}
.after-split-btn {
    background-color: green;
}

.split-btn-grid[data-state="before"] .after-split-btn,
.split-btn-grid[data-state="after"] .before-split-btn {
    display: none;
}