{% extends 'base/base.html' %}

{% block beforeloadscript %}{% endblock %}

{% block body %}
<div class="grid-container" data-state="draw_sub">
    <div id="draw-sub" class="subpage">
        <div id="left-ctrl-pane" class="draw-ctrl-pane">
            <input type="radio" name="draw_ctrl" id="scribe" onclick="manageDrawCtrl(event)" value="scribe">
            <label for="scribe" class="draw-ctrl-btn">
                <img class="icon" src="{% static 'imgs/scribe.svg' %}">
                <img class="icon-focus" src="{% static 'imgs/scribe_focus.svg' %}">
            </label>

            <input type="radio" name="draw_ctrl" id="shapes" onclick="manageDrawCtrl(event)" value="shapes">
            <label for="shapes" class="draw-ctrl-btn">
                <img class="icon" src="{% static 'imgs/shapes.svg' %}">
                <img class="icon-focus" src="{% static 'imgs/shapes_focus.svg' %}">
            </label>

            <input type="radio" name="draw_ctrl" id="galery" onclick="manageDrawCtrl(event)" value="galery">
            <label for="galery" class="draw-ctrl-btn">
                <img class="icon" src="{% static 'imgs/galery.svg' %}">
                <img class="icon-focus" src="{% static 'imgs/galery_focus.svg' %}">
            </label>
        </div>

        <canvas id="main-cvs" width=1000 height=1000></canvas>

        <div id="right-ctrl-pane" class="draw-ctrl-pane">
            <input type="radio" name="draw_ctrl" id="pen" onclick="manageDrawCtrl(event)" value="pen">
            <label for="pen" class="draw-ctrl-btn">
                <img class="icon" src="{% static 'imgs/pen.svg' %}">
                <img class="icon-focus" src="{% static 'imgs/pen_focus.svg' %}">
            </label>

            <input type="radio" name="draw_ctrl" id="pointer" onclick="manageDrawCtrl(event)" value="pointer" checked>
            <label for="pointer" class="draw-ctrl-btn">
                <img class="icon" src="{% static 'imgs/pointer.svg' %}">
                <img class="icon-focus" src="{% static 'imgs/pointer_focus.svg' %}">
            </label>

            <div id="cancel" class="draw-okcancel-btn" onclick="manageDrawCtrl(event)" data-state="default">
                <img class="icon" src="{% static 'imgs/cancel.svg' %}">
                <img class="icon-focus" src="{% static 'imgs/cancel_focus.svg' %}">
            </div>

            <div id="ok" class="draw-okcancel-btn" onclick="manageDrawCtrl(event)" data-state="default">
                <img class="icon" src="{% static 'imgs/ok.svg' %}">
                <img class="icon-focus" src="{% static 'imgs/ok_focus.svg' %}">
            </div>

        </div>

    </div>

    <div id="finish-sub" class="subpage">

        <div id="left-finish-pane">
            <div id="draw-title">TITLE</div>
            <canvas id="finish-cvs" width=1000 height=1000></canvas>
            <img id="back-btn" src="{% static 'imgs/back.svg' %}" onclick="showBackOptions(event)">
        </div>

        <div id="vl"></div>

        <div id="right-finish-pane">
            <div id="nameit">NAME IT</div>
            <input type="text"  id="title-input" name="title-input" placeholder="BeautifulDrawing" onchange="changeTitle(event)">
            <div id="saveit">SAVE IT</div>
            <div id="save-btn" onclick="saveNamedDesign(event)" data-state="save">SAVE</div>
            <div id="getit">GET IT</div>
            <div id="getit-flex">
                <div id="download-btn" onclick="downloadNamedDesign(event)" data-state="download">
                    <img src="{% static 'imgs/download.svg' %}">
                    PNG
                </div>
                <div id="robot-draw-btn" onclick="sendDesignToRobot(event)" data-state="send">
                    ROBOT-DRAW
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block scriptsource %}
{% load static %}
{% static 'base/js/draw.js' %}
{% endblock %}