{% extends 'base/base.html' %}
{% load static %}

{% block stylesheet %}{% static 'base/css/draw.css' %}{% endblock %}

{% block beforeloadscript %}
const menu_url = "{% url 'home:menu' %}"
const generate_url = "{% url 'draw:generate' %}"
const save_url = "{% url 'draw:save' %}"
const robodraw_url = "{% url 'draw:robodraw' %}"
{% endblock %}

{% block scriptsource %}
{% load static %}
{% static 'base/js/draw_new.js' %}
{% endblock %}

{% block body %}
<div id="main-grid" data-state="draw_sub">
    <div id="draw-sub" class="subpage">
        <div id="left-ctrl-pane" class="draw-ctrl-pane">
            <input type="radio" name="draw_ctrl" id="scribe" onchange="manageDrawCtrl(event)" value="scribe">
            <label for="scribe" class="draw-ctrl-btn">
                <img class="icon" src="{% static 'imgs/scribe.svg' %}">
                <img class="icon-checked" src="{% static 'imgs/scribe_checked.svg' %}">
            </label>
            <div id="scribe-overlay" class="overlay" data-state="generate_sub">
                <div id="scribe-generate-sub">
                    <textarea id="scribe-text-input" name="scribe-text-input" placeholder="Here goes the text you want SCRIBUS to write!" oninput="updateTextWarning(event)"></textarea>
                    <p id="text-warning"></p>
                    <div id="generate-btn" onclick="generateHandwriting(event)">GENERATE</div>
                </div>
                <div id="scribe-adjust-sub">
                    <div id="align-ctrl">
                        <input type="radio" name="align" id="left-radio" onclick="updateAdjustCvs()" value="left" checked>
                        <label for="left-radio">LEFT</label>
                        <input type="radio" name="align" id="center-radio" onclick="updateAdjustCvs()" value="center">
                        <label for="center-radio">CENTER</label>
                        <input type="radio" name="align" id="right-radio" onclick="updateAdjustCvs()" value="right">
                        <label for="right-radio">RIGHT</label>
                    </div>
                    <div id="adjust-cvs-placeholder">
                        <canvas id="adjust-cvs" width=1000 height=1000></canvas>
                    </div>
                    <input type="range" id="ratio-range" name="ratio-range" min="0" max="100" oninput="updateAdjustCvs()">
                </div>
            </div>

            <input type="radio" name="draw_ctrl" id="shapes" onchange="manageDrawCtrl(event)" value="shapes">
            <label for="shapes" class="draw-ctrl-btn">
                <img class="icon" src="{% static 'imgs/shapes.svg' %}">
                <img class="icon-checked" src="{% static 'imgs/shapes_checked.svg' %}">
            </label>
            <div id="shapes-overlay" class="overlay">
                <div class="shadowbox"></div>
                <div id="shapes-scrollbox" class="scrollbox">
                    {% for shape in shapes.all %}
                        <canvas id="{{ shape.name }}-shape" class="card-cvs shape-card-cvs" width=1000 height=1000 data-name="{{ shape.name }}" data-state="default" onclick="toggleShape(event)"></canvas>
                        <script>
                            global.shapes['{{ shape.name }}'] = [new pathElement({{ shape.path|safe }}, undefined, undefined, 4, 1)];
                            drawCvs('{{ shape.name }}-shape', global.shapes['{{ shape.name }}'], controls=false);
                        </script>
                    {% endfor %}
                </div>
            </div>

            <input type="radio" name="draw_ctrl" id="gallery" onchange="manageDrawCtrl(event)" value="gallery">
            <label for="gallery" class="draw-ctrl-btn">
                <img class="icon" src="{% static 'imgs/gallery.svg' %}">
                <img class="icon-checked" src="{% static 'imgs/gallery_checked.svg' %}">
            </label>
            <div id="gallery-overlay" class="overlay">
                <div class="shadowbox"></div>
                <div id="gallery-scrollbox" class="scrollbox">
                    {% for design in designs.all %}
                        <div class="card-layer-grid">
                            <canvas id="{{ design.name }}-design" class="card-cvs design-card-cvs" width=1000 height=1000 data-name="{{ design.name }}" data-state="default" onclick="toggleDesign(event)"></canvas>
                            <div class="card-overlay" data-state="off">{{ design.name }}</div>
                        </div>
                        <script>
                            global.designs['{{ design.name }}'] = {{ design.elements|safe }}.map(function (el) {
                                return new pathElement(el.path, el.origin, el.rotation, el.scale, el.smooth);
                            });
                            drawCvs('{{ design.name }}-design', global.designs['{{ design.name }}'], controls=false);
                        </script>

                    {% endfor %}
                </div>
            </div>
        </div>

        <canvas id="main-cvs" width="1000" height="1000" ontouchstart="Tstart(event)" ontouchmove="Tmove(event)" ontouchend="Tend(event)"></canvas>

        <div id="right-ctrl-pane" class="draw-ctrl-pane">
            <input type="radio" name="draw_ctrl" id="pen" onchange="manageDrawCtrl(event)" value="pen">
            <label for="pen" class="draw-ctrl-btn">
                <img class="icon" src="{% static 'imgs/pen.svg' %}">
                <img class="icon-checked" src="{% static 'imgs/pen_checked.svg' %}">
            </label>

            <input type="radio" name="draw_ctrl" id="pointer" onchange="manageDrawCtrl(event)" value="pointer" checked>
            <label for="pointer" class="draw-ctrl-btn">
                <img class="icon" src="{% static 'imgs/pointer.svg' %}">
                <img class="icon-checked" src="{% static 'imgs/pointer_checked.svg' %}">
            </label>
            <div id="okcancel-wrap">
                <div id="cancel" class="draw-okcancel-btn" onclick="manageDrawCtrl(event)" data-state="default">
                    <img class="icon" src="{% static 'imgs/cancel.svg' %}">
                    <img class="icon-checked" src="{% static 'imgs/cancel_checked.svg' %}">
                </div>

                <div id="ok" class="draw-okcancel-btn" onclick="manageDrawCtrl(event)" data-state="default">
                    <img class="icon" src="{% static 'imgs/ok.svg' %}">
                    <img class="icon-checked" src="{% static 'imgs/ok_checked.svg' %}">
                </div>
            </div>
        </div>

    </div>

    <div id="finish-sub" class="subpage">

        <div id="left-finish-pane">
            <div id="draw-title">TITLE</div>
            <canvas id="finish-cvs" width=1000 height=1000></canvas>
            <img id="back-btn" src="{% static 'imgs/back.svg' %}" onclick="createPopup('Do you want to go back to DRAW or straight back to MENU?', ['CANCEL', 'DRAW', 'MENU'], ['', 'resetOnLeave();document.getElementById(\'main-grid\').dataset.state=\'draw_sub\';', 'resetOnLeave();window.location.href = window.location.origin + menu_url'])">
        </div>

        <div id="vl"></div>

        <div id="right-finish-pane">
            <div id="nameit" class="finish-heading">NAME IT</div>
            <input type="text" id="name-input" pattern="" name="title-input" placeholder="BeautifulDrawing" oninput="updateNameWarning(event, {{ all_designnames|safe }}); updateTitle(event);">
            <p id="name-warning">min 4 letters</p>
            <div id="saveit" class="finish-heading">SAVE IT</div>
            <div id="save-grid" class="split-btn-grid" data-state="before" onclick="saveNamedDesign(event)">
                <div id="save-btn" class="before-split-btn split-btn">
                    <img class="split-btn-icon" src="{% static 'imgs/save.svg' %}">
                    <div class="vl-btn"></div>
                    <div>SAVE</div>
                </div>
                <div id="saved-btn" class="after-split-btn split-btn">
                    <img class="split-btn-icon" src="{% static 'imgs/saved.svg' %}">
                    <div class="vl-btn"></div>
                    <div>SAVED</div>
                </div>
            </div>
            <div id="getit" class="finish-heading">GET IT</div>
            <div id="getit-flex">
                <div id="download-grid" class="split-btn-grid" data-state="before" onclick="downloadNamedDesign(event)">
                    <div id="download-btn" class="before-split-btn split-btn">
                        <img class="split-btn-icon" src="{% static 'imgs/download.svg' %}">
                        <div class="vl-btn"></div>
                        <div>DOWNLOAD</div>
                    </div>
                    <div id="download-again-btn" class="after-split-btn split-btn">
                        <img class="split-btn-icon" src="{% static 'imgs/download_again.svg' %}">
                        <div class="vl-btn"></div>
                        <div>DOWNLOAD<br>AGAIN</div>
                    </div>
                </div>
                <div id="robot-draw-grid" class="split-btn-grid" data-state="before" onclick="sendDesignToRobot(event)">
                    <div id="robot-draw-btn" class="before-split-btn split-btn">
                        <div>SCRIBUS DRAW</div>
                    </div>
                    <div id="robot-draw-again-btn" class="after-split-btn split-btn">
                        <div id="sent-count" style="font-size:60px;">1x</div>
                        <div class="vl-btn"></div>
                        <div>+1 DRAWING</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script>drawCvs('main-cvs', global.elements);</script>
{% endblock %}

