<div id="draw_control">
    <button id="useExisting_btn" class="drw-ctrl-btn"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-folder2-open" viewBox="0 0 16 16">
  <path d="M1 3.5A1.5 1.5 0 0 1 2.5 2h2.764c.958 0 1.76.56 2.311 1.184C7.985 3.648 8.48 4 9 4h4.5A1.5 1.5 0 0 1 15 5.5v.64c.57.265.94.876.856 1.546l-.64 5.124A2.5 2.5 0 0 1 12.733 15H3.266a2.5 2.5 0 0 1-2.481-2.19l-.64-5.124A1.5 1.5 0 0 1 1 6.14V3.5zM2 6h12v-.5a.5.5 0 0 0-.5-.5H9c-.964 0-1.71-.629-2.174-1.154C6.374 3.334 5.82 3 5.264 3H2.5a.5.5 0 0 0-.5.5V6zm-.367 1a.5.5 0 0 0-.496.562l.64 5.124A1.5 1.5 0 0 0 3.266 14h9.468a1.5 1.5 0 0 0 1.489-1.314l.64-5.124A.5.5 0 0 0 14.367 7H1.633z"/>
</svg></button>
    <button id="insScribing_btn" class="drw-ctrl-btn" style="font-family:serif;font-size:18px;">ScribeAI</button>
    <button id="insShape_btn" class="drw-ctrl-btn"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pentagon" viewBox="0 0 16 16">
  <path d="m8 1.288 6.842 5.56L12.267 15H3.733L1.158 6.847 8 1.288zM16 6.5 8 0 0 6.5 3 16h10l3-9.5z"/>
</svg><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-triangle" viewBox="0 0 16 16">
  <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"/>
</svg><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
  <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
</svg></button>
    <button id="drwFreehand_btn" class="drw-ctrl-btn"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
  <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
</svg></button>
    <button id="freeOk_btn" class="drw-ctrl-btn hidden">&#10003</button>
    <button id="freeCancel_btn" class="drw-ctrl-btn hidden">&#10007</button>
</div>
<div id="insExisting_pop" class="popup hidden">
    <div class="popup-header">Insert Existing Design</div>
    <div class="popup-content">
        <p>Do you want to insert a design from the gallery?</p>
    </div>
    <div class="popup-control">
        <a href="{% url 'gallery:designs' %}"><button id="existOk_btn">OK</button></a>
        <button id="existCancel_btn">Cancel</button>
    </div>
</div>
<div id="insScribing_pop" class="popup hidden">

</div>
<div id="insShape_pop" class="popup hidden">
    <div class="popup-header">Choose a Shape</div>
    <div class="popup-content">
        {% for i in all_shapes %}
        <div id="{{ i.name }}"class="card shape-card" onclick="selectShape(event)">
            <p>{{ i.name }}</p>

        </div>
        {% endfor %}
    </div>
    <div class="popup-control">
        <button id="shapeOk_btn">OK</button>
        <button id="shapeCancel_btn">Cancel</button>
    </div>
</div>



<canvas id="drawing_cvs" width=1000 height=1000>canvas not supported</canvas>



<div id="draw_submit">
    <div id="radios">        
        <input type="radio" name="saveoptions" id="savepublic_radio" onclick="switchNameInput(event)" value="savepublic" checked>
        <label for="savepublic_radio">Save public</label>
        <br>
        <input type="radio" name="saveoptions" id="saveprivate_radio" onclick="switchNameInput(event)" value="saveprivate">
        <label for="saveprivate_radio">Save private</label>
        <br>
        <input type="radio" name="saveoptions" id="dontsave_radio" onclick="switchNameInput(event)" value="dontsave">
        <label for="dontsave_radio">Dont save</label>
        <br>
    </div>
    <input type="text" id="designName_input" placeholder="Name your design" oninput="getNameWarning(event, {{ all_designnames|safe }})">
    <p id="designName_warning">Name must have at least 4 letters!</p>
    <a href="{% url 'draw:index' %}"><button id="sbmtDrawing_btn">Submit</button></a>
</div>
{% endblock %}

{% block scriptsource %}
{% load static %}
{% static 'base/js/draw.js' %}
{% endblock %}
